<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" id="WebApp_ID" version="2.5">
  <display-name>secure_web</display-name>
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
    <description>non secure resources</description>
    <display-name>non_secure</display-name>
    <servlet-name>non_secure</servlet-name>
    <jsp-file>/non_secure.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>non_secure</servlet-name>
    <url-pattern>/simple</url-pattern>
  </servlet-mapping>
  <servlet>
    <description></description>
    <display-name>secured_jsp</display-name>
    <servlet-name>secured_jsp</servlet-name>
    <jsp-file>/secured_jsp.jsp</jsp-file>
  </servlet>
  <servlet-mapping>
    <servlet-name>secured_jsp</servlet-name>
    <url-pattern>/secure/first</url-pattern>
  </servlet-mapping>
  <security-constraint>
    <display-name>Constraint1</display-name>
    <web-resource-collection>
      <web-resource-name>Test Secure Resources</web-resource-name>
      <description></description>
      <url-pattern>/secure/*</url-pattern>
      <http-method>GET</http-method>
      <http-method>POST</http-method>
    </web-resource-collection>
    <auth-constraint>
      <description></description>
      <role-name>bank_mgr</role-name>
    </auth-constraint>
    <user-data-constraint>
      <description></description>
      <transport-guarantee>CONFIDENTIAL</transport-guarantee>
    </user-data-constraint>
  </security-constraint>
  <login-config>
    <auth-method>FORM</auth-method>
    <form-login-config>
      <form-login-page>/login_form.jsp</form-login-page>
      <form-error-page>/login_err.jsp</form-error-page>
    </form-login-config>
  </login-config>
  <security-role>
    <description></description>
    <role-name>bank_mgr</role-name>
  </security-role>
  <security-role>
    <description></description>
    <role-name>bank_user</role-name>
  </security-role>
  <error-page>
    <error-code>403</error-code>
    <location>/insecure_err.jsp</location>
  </error-page>
  <!-- <servlet>
    <description></description>
    <display-name>index1</display-name>
    <servlet-name>index1</servlet-name>
    <jsp-file>/index.jsp</jsp-file>
    <init-param>
      <description></description>
      <param-name>my_init</param-name>
      <param-value>123</param-value>
    </init-param>
  </servlet>
  <servlet-mapping>
    <servlet-name>index1</servlet-name>
    <url-pattern>/index1.jsp</url-pattern>
  </servlet-mapping>-->
</web-app>