<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd"
	id="WebApp_ID" version="3.0">
	<display-name>day4</display-name>
	<welcome-file-list>
		<welcome-file>emp.html</welcome-file>
	</welcome-file-list>
	<servlet>
		<servlet-name>db1</servlet-name>
		<servlet-class>db.EmpDBServletInitParam</servlet-class>
		<init-param>
			<param-name>drvr</param-name>
			<param-value>com.mysql.jdbc.Driver</param-value>
		</init-param>
		<init-param>
			<param-name>db_url</param-name>
			<param-value>jdbc:mysql://localhost:3306/testjdbc</param-value>
		</init-param>
		<init-param>
			<param-name>u_name</param-name>
			<param-value>root</param-value>
		</init-param>
		<init-param>
			<param-name>u_pass</param-name>
			<param-value>root</param-value>
		</init-param>
		<load-on-startup>1</load-on-startup>
	</servlet>
	<servlet-mapping>
	<servlet-name>db1</servlet-name>
	<url-pattern>/emp_db1</url-pattern>
	</servlet-mapping>
	<context-param>
	<param-name>aa</param-name>
	<param-value>bb</param-value>
	</context-param>
</web-app>